agia_napa/

puck_lagoon/

20240731_Volarje_RX1_orthomosaic_2cmGSD.tif

old_folder/

*.ipynb

aerial.png

format_aerial.py

format_s2.py

semanticsegmentation/

test_magicbathybnet_soca_aerial.py

test_net.py

unet_spot6_an


